<template>
  <header class="container">
    <img src="https://files.asset.tv/live/s3fs-public/new-channel-logo_0.png" alt="Masterclass">
  </header>
</template>

<script>
export default {
  name: 'app-header'
}
</script>

<style scoped>
header {
  background: #3879df;
}

img {
  max-width: 332px;
  padding: 10px;
}
</style>
