<template>
  <section class="container">
    <loader class="loading" v-if="isLoading" />

    <div class="row">
      <div class="col">
        <video-tabs :tabs="tabsList" v-on:tabSelection="onTabSelected($event)" />
      </div>
      <search-box v-on:searchFor="onSearchFor($event)" class="float-right search" />
    </div>

    <h3 v-if="!isLoading">{{ currentTab }}</h3>
    <h5>{{ userSearch }}</h5>

    <video-playlist :videos="currentVideoList" />
  </section>
</template>

<script>
import video from '../api/video'
import Loader from './Loader'
import SearchBox from './SearchBox'
import VideoTabs from './VideoTabs'
import VideoPlaylist from './VideoPlaylist'

export default {
  name: 'app-main-content',
  components: {
    Loader,
    SearchBox,
    VideoTabs,
    VideoPlaylist
  },

  /**
   * Represents the template variables.
   */
  data () {
    return {
      isLoading: false,
      allVideos: {},
      currentVideoList: {},
      mainChannelData: {},
      tabsCreator: '',
      tabsData: {},
      tabsList: [],
      currentTab: 'Latest',
      userSearch: ''
    }
  },

  /**
   * Represents all component methods.
   */
  methods: {

    /**
     * Represents the tab names provided by API.
     * @function
     * @param {string} identfiersText - The tab names of the categories.
     * @returns {array} Array with names.
     */
    getTabIdentfier (identfiersText) {
      return identfiersText.split(',')
    },

    /**
     * Create a new array with videos from all tabs.
     * @function
     * @param {string} tabsIds - ID from each tab name.
     * @param {object} tabsData - Object with the details from each tab.
     * @returns {array} Array with all videos.
     */
    setTabsArray (tabsIds, tabsData) {
      const tabList = []

      tabsIds.forEach(element => {
        tabList.push(tabsData[element])
      })

      return tabList
    },

    /**
     * Event listener to tab selection that assing values
     * to the selected tab and update the video list.
     * @function
     * @param {object} selectedTab - Object with parameters from child component.
     * @returns Assigned values.
     */
    onTabSelected (selectedTab) {
      this.currentVideoList = this.allVideos[selectedTab.id]
      this.currentTab = selectedTab.name
    },

    /**
     * Event listener to filter the video list from input search.
     * @function
     * @param {string} word - Search word provided by the user.
     * @returns {array} New video list.
     */
    onSearchFor (word) {
      const list = []

      if (!word) {
        this.userSearch = ''
        this.currentVideoList = Object.keys(this.allVideos).map(key => this.allVideos[key])[0]

        return this.currentVideoList
      }

      this.currentVideoList.map(curr => {
        if (curr.title.toLowerCase().indexOf(word.toLowerCase()) > -1) {
          list.push(curr)
        }
      })

      this.userSearch = `Search results for "${word}"`
      this.currentVideoList = list

      return this.currentVideoList
    },

    /**
     * Get all informations from video API and provide it to the child components.
     * @function
     * @returns {promise return} Set up the data or catch an error.
     */
    getVideoList () {
      this.isLoading = true

      video.getVideos()
        .then(response => {
          this.allVideos = response.data.content
          this.currentVideoList = Object.keys(this.allVideos).map(key => this.allVideos[key])[0]

          this.mainChannelData = response.data.mcd

          this.tabsCreator = this.getTabIdentfier(this.mainChannelData.tab_creator)
          this.tabsData = response.data.tabs
          this.tabsList = this.setTabsArray(this.tabsCreator, this.tabsData)

          this.isLoading = false
        })
        .catch(error => console.error(error))
    }
  },

  /**
   * Initiate all methods inside of it when component where mounted.
   */
  mounted () {
    this.getVideoList()
  }
}
</script>

<style scoped>
section {
  min-height: 300px;
  padding-top: 1em;
  padding-bottom: 2em;
  background: #fff;
}

h3, h5 {
  margin-left: 10px;
}

.loading {
  position: absolute;
  top: 55%;
  left: 47%;
}

.search {
  margin: 10px 25px 0 0;
}
</style>
