<template>
  <div class="loader"></div>
</template>

<script>
export default {
  name: 'loader'
}
</script>

<style scoped>
.loader {
  width: 80px;
  height: 80px;
  border: 7px solid #646b81;
  border-radius: 50%;
  border-top: 7px solid #f3f3f3;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
</style>
