<template>
  <section>
    <div class="modal__background"></div>
    <div class="modal__box" v-on:click="onCloseModal">
      <div class="modal__box--content">
        <header>
          <span class="modal__close-btn" v-on:click="onCloseModal">×</span>

          <h2>{{ details.title }}</h2>
          <p>Posted: {{ details.date }} | Duration: {{details.duration}}</p>
        </header>

        <div class="modal__video--box">
          <loader class="modal__video--loading" v-if="isLoading" />
          <iframe
            v-show="!isLoading"
            ref="videoIframe"
            :src="'https://www.asset.tv/site/ms592fcd270cfe7/' + details.vid + '?chid=2240'"></iframe>
        </div>

        <div class="modal__video--information">
          <h4>Information</h4>
          <p>{{ details.description }}</p>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import Loader from './Loader'

export default {
  name: 'modal-window',
  components: {
    Loader
  },
  props: {
    details: {
      type: Object,
      default: ''
    }
  },
  data () {
    return {
      isLoading: true
    }
  },
  methods: {
    onCloseModal () {
      this.$emit('showModal', false)
    }
  },
  mounted () {
    window.addEventListener('keyup', e => {
      if (e.keyCode === 27) {
        return this.onCloseModal()
      }
    })

    this.$refs.videoIframe.onload = () => {
      this.isLoading = !this.isLoading
    }
  }
}
</script>

<style lang="scss" scoped>
.modal__background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  background-color: #000;
  z-index: 1000;
}

.modal__box {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  z-index: 1001;
}

.modal__box--content {
  min-height: 500px;
  width: 800px;
  margin: 40px auto;
  background: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.modal__close-btn {
  float: right;
  margin-top: -15px;
  font-size: 35px;
  font-weight: bold;
  color: #000;
  opacity: 0.2;
  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }
}

header {
  margin-bottom: 15px;
  border-bottom: 1px solid #eee;
  padding: 15px 15px 0;
}

p {
  color: #666;
}

.modal__video--box {
  margin: 0 auto;
  height: 437px;
  width: 96%;
  overflow: hidden;
}

.modal__video--loading {
  margin: 140px 0 0 330px;
}

iframe {
  height: 100%;
  width: 100%;
  border: 0;
  overflow: hidden;
}

.modal__video--information {
  padding: 15px;
}
</style>
