<template>
  <div>
    <form name="search">
      <div class="input-group">
        <input
          v-model="search"
          v-on:keyup="sendSearch(search)"
          type="text"
          class="form-control"
          placeholder="Search for..."
          aria-label="Search for...">

        <span class="input-group-btn">
          <button class="btn btn-secondary" type="button" v-on:click="sendSearch(search)">Go</button>
        </span>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  name: 'search-box',
  data () {
    return {
      search: ''
    }
  },
  methods: {
    sendSearch (word) {
      this.$emit('searchFor', word)
    }
  }
}
</script>

<style scoped>
.form-control {
  border-radius: 0;
}

.btn {
  border-radius: 0;
}
</style>
