<template>
  <ul>
    <li v-for="tab in tabs" :key="tab.tab_id"
      :class="{ active: tab.tab_id === currentItem }"
      @click="activeTab(tab.tab_id, tab.tab_name)">
      {{ tab.tab_name }}
    </li>
  </ul>
</template>

<script>
export default {
  name: 'video-tabs',
  props: {
    tabs: {
      type: Array,
      default: ''
    }
  },
  data () {
    return {
      currentItem: ''
    }
  },
  methods: {
    activeTab (tabId, tabName) {
      this.currentItem = tabId
      this.$emit('tabSelection', { id: tabId, name: tabName })
    }
  }
}
</script>

<style lang="scss" scoped>
ul {
  -webkit-padding-start: 10px;
  font-weight: bold;
  margin: 10px 0 20px;
}

li {
  display: inline-block;
  padding: 15px 20px;
  color: #333;
  background: #eee;
  cursor: pointer;
  &:hover {
    color: #fff;
    background: #666;
    transition: 0.5s;
  }
  &:active {
    color: #fff;
    background: #3879df;
  }
}

.active {
  color: #fff;
  background: #333;
}
</style>
