<template>
  <section>
    <ul>
      <li class="col"
        v-for="video in videos"
        v-on:click="onShowModal(true, video)">

        <img :src="video.image_url" :alt="video.title">

        <span class="playlist__item-duration">
          <i class="icon-play" aria-hidden="true"></i>
          {{ video.duration }}
        </span>

        <p class="playlist__item-title">{{ video.title }}</p>

        <span>Date: {{ video.date }}</span>
      </li>
    </ul>

    <modal-window :details="videoDetail" v-if="showModal" v-on:showModal="onShowModal($event)" />
  </section>
</template>

<script>
import ModalWindow from './ModalWindow'

export default {
  name: 'video-playlist',
  props: ['videos'],
  components: {
    ModalWindow
  },
  data () {
    return {
      showModal: false,
      videoDetail: {}
    }
  },
  methods: {
    onShowModal (event, detail) {
      this.showModal = event
      if (detail) {
        this.videoDetail = detail
      }
    }
  }
}
</script>

<style lang="scss" scoped>
ul {
  padding: 0;
}

li {
  display: inline-block;
  min-height: 350px;
  max-width: 370px;
  font-size: 16px;
  padding: 10px;
  &:hover {
    opacity: .75;
    cursor: pointer;
  }
}

img {
  margin-bottom: -23px;
  min-height: 196px;
  max-width: 350px;
}

.playlist__item-duration {
  font-size: 12px;
  font-weight: bold;
  background: white;
  padding: 5px 16px;
}

.icon-play {
  margin-right: 2px;
  &:before {
    content: "\25BA";
  }
}

.playlist__item-title {
  display: block;
  height: 30px;
  margin: 15px 0;
  line-height: 20px;
}
</style>
