<template>
  <div id="app">
    <app-header />
    <app-main-content />
  </div>
</template>

<script>
import AppHeader from './components/AppHeader'
import AppMainContent from './components/AppMainContent'

/**
 * Set up the main components
 * @constructor
 **/
export default {
  name: 'app',
  components: {
    AppHeader,
    AppMainContent
  }
}
</script>

<style>
body {
  background-color: #E3E3E3;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333;
}
</style>
